@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="homeHeader">
    <h1 id="homeh1">Your Wardrobe</h1>
    <span> <a href="https://asp.net" class="btn btn-primary btn-lg headerBTN">All Tops &raquo;</a></span>
</div>
<div>
    <p class="lead">
        Your own personal wardrobe! Add your clothes, checkout new looks, save your favorite outfits. Always know how it will look before you even put it on.
        This is your own personal closet space to add, create, and find your perfect style!
    </p>
</div>

<div class="row">
    <div class="col-md-3 ">
        <div class="thumbnail homeBlock">
            <h2>Getting started</h2>
            <p>
                Go to apparel and add any and all clothing you own or want to be in your inventory.
                From here you will be able to view all your clothing that you added and add them to an outfit.
            </p>
        </div>
    </div>
    <div class="col-md-6">
    </div>
    <div class="col-md-3">
        <div class="thumbnail homeBlock">
            <h2>Outfits</h2>
            <p>Here you can easily view and outfits you have saved as well as go through a pick out individual items to create all new outfits.</p>
        </div>
    </div>
</div>